<div class="page-header">
	<div class="container">
		<h1>Routing Simple</h1>
		<div class="navLinks">
			<a [routerLink]="['/home']">Home</a>
		</div>
	</div>
</div>

<div class="container content">
  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>

  <router-outlet></router-outlet>
</div>

<hr class="mb-5">
<!--se renderiza el tiempo pero al ser async debe estar monitoreando el time ya que va a cambiar-->
Fecha: {{ time | async }}
